<h1>Actividad <%= @texto.titulo %> creada con exito</h1>

<h3>Titulo: <%= @texto.titulo %></h3>
<h3>Descripción: <%= @texto.descripcion %></h3>
<h3>Valor: <%= @texto.valor %></h3>
<h3>Es Publica?: <%= @texto.publica %></h3>
