<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mis Actividades</title>
  <link rel="stylesheet" href="misactividades.css"> <!-- Ajusta el nombre del archivo CSS -->
</head>
<body class="misactividades-body">
  <h1 class="misactividades-heading">MIS ACTIVIDADES</h1>
  <div class="misactividades-container">
    <% Actividad.all.each do |actividad| %>
      <% if actividad.user_id == current_user.id %>
        <div class="misactividades-item">
          <div class="misactividades-header">
            <h2><%= actividad.titulo %></h2>
          </div>
          <h3>INFORMACIÓN DE MI ACTIVIDAD</h3>
          <div class="misactividades-info">
            <br>
            <div><span class="misactividades-label">VALOR ($):</span><br><p><%= actividad.valor %></p></div>
            <div><span class="misactividades-label">CALIFICACIÓN:</span><br><p><%= Resena.where(actividad_id: actividad.id).average(:calificacion).to_f.round(1) %></p></div>
            <div><span class="misactividades-label">DESCRIPCIÓN:</span><br><p><%= actividad.descripcion %></p></div>
            <div><span class="misactividades-label">FECHA:</span><br><p><%= actividad.fecha.strftime("%d/%m/%y") %></p></div>
            <div><span class="misactividades-label">PARTICIPANTES:</span><br><p><%= Solicitud.where(actividad_id: actividad.id, estado: true).count %></p></div>
            <div><span class="misactividades-label">SOLICITUDES:</span><br><p><%= link_to "#{Solicitud.where(actividad_id: actividad.id, estado: false).count}", aceptar_solicitudes_path(actividad.id) %></p></div>
            <div><span class="misactividades-label">CREADA POR:</span><br><p><%= User.find(actividad.user_id).name.capitalize %></p></div>
            <div><span class="misactividades-label">PRIVACIDAD:</span><br><p><%= actividad.publica ? "Pública" : "Privada" %></p></div>
          </div>
          <br>
          <br>
          <h3>ACCIONES PARA MI ACTIVIDAD</h3>
          <%= link_to "EDITAR ACTIVIDAD", edit_actividad_path(actividad.id), class: "misactividades-link"  %>
          <div>
            <% @room = Room.find_by(actividad_id: actividad.id) %>
            <% if @room %>
              <%= link_to "CHAT", room_path(Room.find_by(actividad_id: actividad.id).id), class: "misactividades-link" %>
            <% else %>
              (no tiene)
            <% end %>
          </div>
          <div>
            <%= link_to "RESEÑAS", index_mi_resena_id_act_path(actividad.id), class: "misactividades-link" %>
          </div>
          <% if Resena.where(user_id: current_user.id, actividad_id: actividad.id).count < 1 %>
            <div>
              <%= link_to "CREAR RESEÑA", new_resena_id_act_path(actividad.id), class: "misactividades-link" %>
            </div>
          <% else %>
            <div>Ya creada</div>
          <% end %>
          <div class="administrador-actividades-detail">
          <%= button_to "Eliminar Actividad", actividad_path(actividad.id), method: :delete, class: "administrador-actividades-button" %>
        </div>
        </div>
      <% end %>
    <% end %>
  </div>
</body>
</html>
